<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Stats</title>
</head>

<body>
    <div style="margin: 200px; margin-left: 500px;">
        <form method="POST" enctype="multipart/form-data">
            <div style="padding-bottom: 8px;">
                <h3>Upload a csv file :</h3>
                <input type="file" name="file" required>
            </div>
            <button type="submit">Upload File</button>
        </form>
        <a href="{% url 'downloadFile' %}">Download File</a>
        <strong>
          <p>{{message}}</p>
        </strong>
    </div>
</body>

</html>
